* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ecf2f8;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.4;
}

#main {
    height: 100vh;
    height: 100svh;
}

#testimonial-container {
    padding-top: 40px;
}

.items {
    margin: 25px;
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: 16px 15px 15px -12px rgba(0,0,0,0.1);
}

#tesimonial-1-cont, #tesimonial-2-cont, #tesimonial-4-cont {
    color:  #ffffff;
}

#tesimonial-1-cont {
    background-color:  #7541c8;
    z-index: 0;
    position: relative;
}

#tesimonial-2-cont {
    background-color:  #48556a;
}

#tesimonial-3-cont, #main-right  {
    background-color:  #ffffff;
    color: #48556a;
}

#tesimonial-1-cont, #tesimonial-2-cont, #tesimonial-4-cont {
    color: #ecf2f8;
}

#tesimonial-4-cont {
    background-color:  #19212e;
}

.pro-pic {
    border-radius: 50%;
    width: 30px;
}

#tesimonial-1-cont .pro-pic {
    box-sizing: content-box;
    border:2px solid #a186cc;
}

#tesimonial-4-cont .pro-pic {
    box-sizing: content-box;
    border:2px solid #a186cc;
}

.items > h5, .profile {
    margin-bottom: 15px;
}

.profile {
    display: flex;
    align-items: center;
}

.name-ver {
    margin-left: 20px;
}

.verified {
opacity: 50%;
}

.rest-testi {
opacity: 70%;
}

.quote {
    z-index: -1;
    position: absolute;
    right: 8%;
    top: 0; 
}

h5 {
    font-weight: 600;
    font-size: 20px;
}

p {
    font-weight: 500;
}

@media(min-width: 576px) {
    #main, #testimonial-container, #main-left, #top-left, #bottom-left {
        display:flex;
    }

    #testimonial-container {
        flex-direction: column;
        padding: 15px;
    }

    #main-left {
        flex-direction: column;
        flex-basis: 77%;
    }

    #main-right {
        flex-basis: 23%;
    } 

    #top-left, #bottom-left {
        flex-basis: 50%;    
    }

    .items {
        margin: 15px;
    }

    #tesimonial-1-cont {
        flex-basis: 68%;
    }
    
    #tesimonial-2-cont {
        flex-basis: 32%;
    }
    
    #tesimonial-3-cont  {
        flex-basis: 32%;
    }
    
    #tesimonial-4-cont {
        flex-basis: 68%;
    }
    .quote {
        right: 15%;
    }
}

@media (min-width: 952px) {
    #main, #testimonial-container, #main-left, #top-left, #bottom-left {
        display:flex;
    
    }

    #main{
        justify-content: center;
        align-items: center;
    }

    #testimonial-container {
        flex-direction: row;
        max-width: 1180px;
    }

    #main-left {
        flex-direction: column;
        flex-basis: 77%;
    }

    #main-right {
        flex-basis: 23%;
    }

    #top-left, #bottom-left {
        flex-basis: 50%;    
    }

    .items {
        margin: 15px;
    }

    #tesimonial-1-cont {
        flex-basis: 68%;
    }
    
    #tesimonial-2-cont {
        flex-basis: 32%;
    }
    
    #tesimonial-3-cont  {
        flex-basis: 32%;
    }
    
    #tesimonial-4-cont {
        flex-basis: 68%;
    }
    .quote {
        right: 15%;
    }
}